footer.footer
  .wrapper
    .footer__container
      .footer__block
        .footer__brand-name.font-w-semi-bold.font-s-18 © ROSES PARK, 2024
        .footer__privacy.font-s-14
          a(href="#" data-remodal-target="privacy") Политика конфиденциальности
      img.footer__logo(src="images/logo.png" alt="icon" loading="lazy" width="273" height="54")
      .footer__connection-order(data-remodal-target="modal-form-call-me") Заказать звонок

