header.header
  .header__container
    .header__title
      .font-w-semi-bold.font-s-16 ROSES PARK
      .font-w-regular.font-s-15 Франшиза сети ресторанов
    img.header__logo(src="images/logo.png" alt="icon" loading="lazy" width="273" height="54")
    .header__connection
      include ../components/phone-number.pug
      .header__connection-order.font-w-regular.font-s-15(data-remodal-target="modal-form-call-me") Заказать звонок
