section.invest-section
  .wrapper
    .invest-section__container
        img.invest-section__plate1(src="images/invest-section-plate1.png" loading="lazy" width="858" height="858" alt="plate")
        img.invest-section__plate2(src="images/invest-section-plate2.png" loading="lazy" width="792" height="793" alt="plate")
        .finances-section__line
        h2.invest-section__title.font-s-74.font-w-zt-medium
          | Минимальные вложения <br> для старта — 
          span.mark 6,17 млн рублей
        .invest-section__text.font-s-18.font-w-medium
          | Выберите размер вашего города и узнайте величину паушального <br> взноса и размер инвестиций 
          span.mark-yellow в 1 клик
        .swiper-large
          .invest-section__cards.swiper-wrapper
            .invest-section__card.swiper-slide
              .invest-section__card-wrapper
                .invest-section__card-title.font-w-fiorina.font-s-32 до 500 000 <br> жителей
                img.invest-section__card-icon(src="images/invest-section-icon.svg" loading="lazy" width="121" height="15" alt="icon")
                .invest-section__card-text.font-s-16 Узнать величину паушального <br> взноса и размер инвестиций
                button.btn.btn--black-shadow.invest-item(data-remodal-target="modal-form-investments") УЗНАТЬ
            .invest-section__card.swiper-slide
              .invest-section__card-wrapper
                .invest-section__card-title.font-w-fiorina.font-s-32 от 500 000 <br> жителей
                img.invest-section__card-icon(src="images/invest-section-icon.svg" loading="lazy" width="121" height="15" alt="icon")
                .invest-section__card-text.font-s-16 Узнать величину паушального <br> взноса и размер инвестиций
                button.btn.btn--black-shadow.invest-item(data-remodal-target="modal-form-investments") УЗНАТЬ
            .invest-section__card.swiper-slide
              .invest-section__card-wrapper
                .invest-section__card-title.font-w-fiorina.font-s-32 от 1 000 000 <br> жителей
                img.invest-section__card-icon(src="images/invest-section-icon.svg" loading="lazy" width="121" height="15" alt="icon")
                .invest-section__card-text.font-s-16 Узнать величину паушального <br> взноса и размер инвестиций
                button.btn.btn--black-shadow.invest-item(data-remodal-target="modal-form-investments") УЗНАТЬ
          .large-pagination.swiper-progress-large
