section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__rose(src="images/steps-section-rose.png" loading="lazy" width="643" height="632" alt="rose")
      .steps-section__line
      h2.steps-section__title.font-s-74.font-w-zt-medium.text-up Поможем вам открыть <br> ресторан за 10 простых шагов
      .steps-section__text.font-w-medium.font-s-20 Ознакомьтесь с ключевыми этапами совместной работы
      .swiper-medium
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-fiorina.font-s-18 1 этап
            .steps-section__card-text.font-s-16.text-center Заключаем договор <br> франшизы
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-fiorina.font-s-18 2 этап
            .steps-section__card-text.font-s-16.text-center Ищем помещение <br> и подписываем договор <br> аренды
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-fiorina.font-s-18 3 этап
            .steps-section__card-text.font-s-16.text-center Проводим ремонт <br> и оформляем помещение
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-fiorina.font-s-18 4 этап
            .steps-section__card-text.font-s-16.text-center Осуществляем поиск <br> персонала
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-fiorina.font-s-18 5 этап
            .steps-section__card-text.font-s-16.text-center Производим заказ, <br> доставку и монтаж <br> оборудования и мебели
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-fiorina.font-s-18 6 этап
            .steps-section__card-text.font-s-16.text-center Формируем первичные <br> запасы продуктов <br> и расходных материалов
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-fiorina.font-s-18 7 этап
            .steps-section__card-text.font-s-16.text-center Проводим обучение <br> персонала
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-fiorina.font-s-18 8 этап
            .steps-section__card-text.font-s-16.text-center Получаем лицензию <br> на алкоголь
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-fiorina.font-s-18 9 этап
            .steps-section__card-text.font-s-16.text-center Осуществляем <br> настройку рекламы
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-fiorina.font-s-18 10 этап
            .steps-section__card-text.font-s-16.text-center Открываем ресторан <br> и начинаем <br> зарабатывать
        .medium-pagination.swiper-progress-medium
      .steps-section__bottom
        .steps-section__bottom-title.text-center
          .font-w-fiorina.font-s-42 Работаем строго по договору,
          .font-w-regular.font-s-22 в котором описаны наши обязанности и все условия сотрудничества
        .steps-section__bottom-btn
          button.btn(data-remodal-target="modal-form-agreement") Скачать пример договора
  .main-section__arc
