.header
  &__container
    display: flex
    flex-direction: row
    justify-content space-between
    align-items: center

  &__title
    display: none
    +above($breakpoints.md)
      display: flex
      flex-direction: row
      align-items: center
      gap: 16px

  &__logo
    width 150px
    height: auto
    +above($breakpoints.sm)
      width 273px
      height: 54px


  &__connection
    display: flex
    flex-direction: column
    text-align: center
    cursor pointer
    +above($breakpoints.sm)
      align-items: center
      text-align: start
      flex-direction: row
      gap: 20px
    
  &__connection-order
    text-decoration: underline
    color: $color-red